@import '~$scss/_colors';
@import '~$scss/_mixins';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body{
  background: $bg;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
}

// h1, .h1 { font-size: $h1-font-size; }
h2, .h2 { font-size: 2.0rem; color: #585b5d; }
h3, .h3 { font-size: 1.75rem;  color: #585b5d; }
h4, .h4 { font-size: 1.5rem; }
// h5, .h5 { font-size: $h5-font-size; }
// h6, .h6 { font-size: $h6-font-size; }


.carousel{
	.item{
		.slider-background{
			min-height: 400px;
			background-size: cover;
			display: flex;
			align-items: center;
			justify-content: center;
			.slider-bar{
				background: $main-opacity;
				width: 100%;
				min-height: 120px;
				align-items: center;
				justify-content: center;
				display: flex;
				color: #fff;

				.bar-content{
					width: 50%;
					max-width: 400px;
				}
			}
		}
	}
}

.btn{
	padding: 15px 20px;
	border-color: transparent;
	cursor: pointer;
	&.btn-info{
		color: #fff;
		background: $main;
		font-weight: bolder;
		&:hover{
			opacity: .7;
		}
		transition: .5s;
	}
}

footer{
	width: 100%;
	display: flex;
	background: #1b365d;
	color: #fff;
	align-items: center;
	justify-content: center;
	padding: 15px 0px;
}


a {
	color: #92C1E9;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		text-decoration: none;
		opacity: .5;
	}
	transition: .5s;
}